@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

:root{
    --primary-color: rgb(226, 14, 163);
    --secondry-color: ;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

/* General style */
.link{
    text-decoration: none;
    color: white;
    margin: auto 0.5rem;
    padding: 0.3rem;
}

.list-inline{
    display: flex;
    flex-direction: row;
}

.list-nonbullet{
    list-style: none;
}

.active{
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.flex-cont-two-col{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-grow: 1;
}
.flex-col1{
    flex-basis: 50%;
    flex-grow: 1;
    padding: 2%;
    margin: auto;
}
.flex-col2{
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 2%;
}


/* Specific styles */

/* Navigation Bar Starts here*/
.navigation{
    background-color: black;
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
}

.nav-content{
    margin: auto 20px;
    display: flex;
    flex-direction: row;
}

.nav-brand{
    flex-basis: 30%;
    font-size: larger;
}

.nav-pill-div{
    padding-inline-start: 0;
}

.nav-pills{
    margin: auto 0;
    flex-basis: 70%;
}

.nav-pills-list{
    display: flex;
    justify-content: flex-end;
}
/* Navigation Bar Ends Here */



/* Header Starts Here */
.header-div{
    margin: 10px 25px;
}

.header-content{
    box-sizing: border-box;
}

.header-cont-img > img{
    width: 40vw;
    height: 30vw;
    margin: auto;
}

.header-aboutme{
    margin-right: 7vw;
    /* margin-bottom: vw; */
}

.my-name{
    font-size: 3.5rem;
    margin: 1vh 0;
}
.my-role{
    font-size: 1.5rem;
    margin: 1vh 0 3vh 0;
    color: rgb(226, 14, 163);
    font-weight: 500;
}

/* Header Ends Here */


/* TechStack Section Starts Here */

.techstack-secton{
    width: 500px;
    height: 500px;
    border: 1px solid red;
}

/* TechStack Section Ends Here */